/* Asegura que la altura cubra toda la ventana */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Altura total de la ventana */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; /* Establece el tamaño de la fuente a 18px */
    line-height: 1.5; 
    box-sizing: border-box;

}

/* El contenedor principal debe usar Flexbox */
.inicio-container {
    display: flex;
    flex-direction: column;
   
   }

/* El contenido debe expandirse para llenar el espacio disponible */
.contenido {
    background-color: #F9E2D6;
    flex: 1; /* Ocupa el espacio restante */
    
}

/* Estilos del footer */
footer {
    background-color: #f8f9fa; /* Fondo del pie de página */
    text-align: center; /* Centrado */
    padding: 1em; /* Espaciado interno */
    width: 100%; /* Asegura que el pie de página ocupe todo el ancho */
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
}
