.botonanimado {
    position: relative;
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Botón circular */
    overflow: hidden; /* Oculta bordes */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Indica que es clickeable */
    transition: transform 0.2s ease-in-out;
  }
  
  .botonanimado:active {
    transform: scale(0.95); /* Pequeño efecto de clic */
  }
  
  /* Mantén los estilos de los círculos tal como estaban */
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: growAndFade 4s ease-in-out infinite;
  }
  

  
  @keyframes growAndFade {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.8);
        opacity: 1;
      }
    100% {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
    }

  }

  /* Aseguramos que el signo + esté siempre visible */
.botonanimado::after {
    content: "+";
    position: absolute;
    z-index: 10; /* Capa superior */
    font-size: 2rem; /* Tamaño del signo */
    color: black; /* Color del signo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
  
  